
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: grid;
    grid-template-columns: 15% 50% 35%;
    max-width: 1440px;
    padding: 20px 20px;
    margin: 0 auto;
}

.menu-wrapper {
    display: grid;
    
}

.menu {
    background: #0C0B0B;
border-radius: 24px;
grid-column: 1 / 1;
padding: 35px 0 40px;

max-width: 132px;
width: 10vw;
box-shadow: 11px 6px 40px rgb(0 0 0 / 50%);
margin: 0 auto;

margin-left: 0px;
}



.logo {
    text-align: center;
    margin-bottom: 100px;
}

.menu li {
    list-style-type: none;
    text-align: center;
}

.menu li:not(:last-child) {
    margin-bottom: 63px;
}
.menu li:last-child {
    margin-bottom: 224px;
}
.btn-exit {
    text-align: center;
    cursor: pointer;
}

.btn-menu:hover {
    transform: scale(1.1);
    transition: all .3s .3s ease;
}
.btn-menu {
    
    transition: transform .3s .3s ease;
}

.block1-wrapper {
    padding: 25px 10px 0px;
}

.header {
    background-color: #F5F5F7;
    border-radius: 14px;
    padding: 46px 10px 40px 31px;
    margin-bottom: 64px;
    position: relative;
}

.header::after {
    content: "";
    display: inline-block;
    background-image: url(../media/Illustration.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 175px;
    height: 191px;
    position: absolute;
    top: -25px;
    right: 128px;
}

.header-h1 {
    font-family: 'Baloo Bhai 2', cursive;
 
 
 font-size: 36px;
 line-height: 57px;
 color: #0C0B0B;

}

.header-p {
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    color: #0C0B0B;

}

.mycourse {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 23px 0 8px;
    margin-bottom: 40px;
    
}

.mycourse-flag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    background-color: #fff;
}

.h3mycourse {
    font-family: 'Baloo Bhai 2', cursive;

font-size: 16px;
line-height: 26px;
color: #0C0B0B;
}

.pmycourse {
    font-family: Roboto;

font-size: 13px;
line-height: 15px;
color: #0C0B0B;
}

.ellipse {
    width: 40px;
    height: 40px;
    background-image: url(../media/Ellipse\ 1.svg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ellipse p {
    font-family: Roboto;

font-size: 13px;
line-height: 15px;
color: #0C0B0B;
}

.btn-cont {
    max-width: 120px;
    width: 100%;
    background-color:#0C0B0B;
    border-radius: 8px;
    text-align: center;
    padding: 12px 0;
    border: 1px solid transparent;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    transition: all .3s .3s ease-in-out;
    
}

.btn-cont:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
    border: 1px solid;
    border-color: #000;
    transition: all .3s .3s ease-in-out;
}
.first-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 500px;
    width: 100%;
}

.arrow-left {
    margin-right: 16px;
    transform: scale(1);
    transition: transfrom .3s .3s ease;
}

.arrow-right {
    transform: scale(1);
    transition: transfrom .3s .3s ease;
}

.btn-arrows {
    display: flex;
}

.arrow-left:hover {
    transform: scale(1.1);
    transition: transfrom .3s .3s ease;
}

.arrow-right:hover {
    transform: scale(1.1);
    transition: transfrom .3s .3s ease;
}

.courses {
    display: flex;
    flex-wrap: wrap;
}

.h2courses {
    width: 100%;
    margin-bottom: 16px;
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 24px;
    line-height: 38px;
    color: #0C0B0B;
}
.menu-courses {
    width: 100%;
    margin-bottom: 10px;
}

.menu-courses li {
    list-style-type: none;
    display: inline;
    font-family: 'Baloo Bhai 2', cursive;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    color: #0C0B0B;
    opacity: 0.3;
    transition: opacity .3s .3s ease;
}
.menu-courses li:hover {
    cursor: pointer;
    opacity: 1;
    transition: opacity .3s .3s ease;
}
.menu-courses li:not(:last-child) {
    margin-right: 30px;
}

.article-courses {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 620px;
    justify-content: space-between;
    margin-bottom: 16px;
    
}

.article-img {
    width: 64px;
    height: 64px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.h3article {
    font-family: 'Baloo Bhai 2', cursive;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    color: #0C0B0B;

}

.particle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #0C0B0B;
}

.text-article {
    width: 100%;
    max-width: 150px;
    
}

.article-time {
    display: flex;
    align-items: center;
}

.time-svg {
    margin-right: 8px;
}
.time-text {
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #0C0B0B;

}

.btn-view {
    max-width: 120px;
    width: 100%;
    background-color:#FFFFFF;
    border-radius: 8px;
    text-align: center;
    padding: 12px 0;
    border: 1px solid;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    color: #000;
    transition: all .3s .3s ease-in-out;
}

.btn-view:hover {
    border: 1px solid;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    border-color: #fff;
    transition: all .3s .3s ease-in-out;
}

.block2-wrapper {
    padding: 25px 10px 0;
}

.search-bar {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: none;
    
    border-radius: 8px;
    padding-left: 32px;
    
}
.search-bar:hover {
    border: 1px solid #000;
    opacity: 0.5;
    transition: all .3s .3s ease;
}
.search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 23px;
}

.search-wrapper::before {
    content: '';
    display: block;
    background-image: url(../media/search.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 9px;
    left: 10px;
    
}
.search-bar:focus {
    border-radius: 8px;
}
.profile-picture {
    background-image: url(../media/Profile\ picture.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    width: 55px;
    transition: all .3s .3s ease;
}
.profile-picture:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all .3s .3s ease;
}

.profile-picture::after {
    content: '';
    background-image: url(../media/arrow\ down.svg);
    width: 10px;
    height: 10px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    position: absolute;
    right: -10px;
    top: 13px;
    
    transition: transform .3s .3s ease;
}

.profile-picture:hover::after{
    cursor: pointer;
    transform: rotate(90deg);
    transition: transform .3s .3s ease;
}

.ringbell {
    position: relative;
    transition: transform .3s .3s ease;
}
.ringbell:hover {
    transform: scale(1.1);
    transition: transform .3s .3s ease;
    cursor: pointer;
}



.ringbell span {
    position: absolute;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 22px;
    color: #FFFFFF;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #F45B5B;
    top: -8px;
    right: -4px; 
    align-items: center;
    justify-content: center;
    display: flex;
}

.stats {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.completed {
    display: flex;
    align-items: center;
    margin-right: 50px;
}
.inprogress {
    display: flex;
    align-items: center;
}

.number {
    font-family: 'Baloo Bhai 2', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 102px;
    color: #0C0B0B;
    margin-right: 11px;
}

.text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #0C0B0B;
    max-width: 80px;

}

.weekly {
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 15px;
color: #0C0B0B;
border: none;
background-color: none;
cursor: pointer;
}
.weekly::after {
    content: '';
    background-image: url(../media/arrow\ down.svg);
    width: 10px;
    height: 10px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    
}

.weekly:hover::after{
    cursor: pointer;
    transform: rotate(90deg);
    transition: transform .3s .3s ease;
}



.statistics .menu-courses li:last-of-type {
    margin-right: 160px;
}
.statistics .menu-courses {
    margin-bottom: 32px;
}

.statistics {
    margin-bottom: 50px;
}

.premium .h2courses {
    margin-bottom: 3px;
}
.p-prem {
    max-width: 180px;
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #0C0B0B;
    margin-bottom: 24px;
}

.premium {
    background-image: url(../media/x30\ 26\ \ \ Idea\ 1.png);
    background-repeat: no-repeat;
    background-position: 80% 40%;
}

.menu-mob {
    display: none;
    width: 100%;
    
    background-color: #000;
    
    padding: 15px 35px;
    margin-bottom: 15px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}
.menu-mob ul li {
    display: inline;
}
.menu-mob ul li:not(:last-of-type) {
    margin-right: 15px;
}

.a-courses {
    text-decoration: none;
    color: #0C0B0B;
}

.search-wrapper input {
    border: 1px solid #000;
    border-radius: 14px;
}


@media (max-width: 1100px) and (min-width: 767px) {
    .menu {box-shadow: none;}
    .header {min-width: 510px; background: transparent;}
    
    .mycourse-flag {background: transparent;}
    .wrapper {display: flex;}
    .article-img {background: transparent;}
}

@media (max-width: 768px) {
    .wrapper {display: flex; flex-wrap: wrap; padding: 0 10px 10px;; justify-content: center;}
    .menu-wrapper {
        display: none;
    }
    .menu {
        display: none;
    }
    .menu-mob {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 360px;
    }
    .block1-wrapper {
        padding: 180px 0 0 0;
    }
    .header { background: transparent;
    margin-bottom: 10px; padding: 0;}

    .header::after {
        display: none;
    }
    .mycourse {
        margin-bottom: 10px;
        flex-wrap: wrap;
        padding: 0;
    }
    .btn-arrows {
        margin: 0 auto;
    }
    .btn-cont {
        margin: 0 auto;
    }

    .first-cont {
        flex-wrap: wrap;
    }
    .courses {
        padding: 0 10px;
    }

    .article-time {
        display: none;
    }
    .block2-wrapper {
        margin: 0 auto;
        padding: 0;
    }

    .statistics img {
        width: 100%;
    }

    .premium {
        background-image: none;
    }

   
    
}