* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$menu_color: #282C31;
$border_color: #4D4D4D;
$search-border-color: #4C4C4C;
$color_main: #7F7FD5;
$color_secondary: #cacaca;
$back_main_color: #212427;
$radius-internal: 13px;




#menu__toggle {
    opacity: 0;
    display: none;
    @media (max-width: 768px) {
      display: block;
  }
}

.menu__btn {
  display: none; 
  align-items: center;  
  position: absolute;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 5;
  border-bottom: 1px solid $border_color;
  width: 91%;
  
    @media (max-width: 768px) {
      display: block;
  }
  
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: none;
  position: absolute;
  width: 26px;
  height: 2px;
  background-color: #616161;
  @media (max-width: 768px) {
      display: block;
  }
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .wrapper-main__container__menu {
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  
  z-index: 4;

  @media (max-width: 768px) {
      visibility: visible;
  }
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.wrapper-main__container__menu {
  transition-duration: .25s;
}
.wrapper-main__container__menu__nav__ul__li {
  transition-duration: .25s;
}


.wrapper-main {
    background: url(../media/back-large.png) no-repeat top left, url(../media/back-small.png) no-repeat bottom right;
    padding: 160px 0;

    @media (max-width:768px) {
        background: none;
        padding: 0;
    }

    &__container {
        
        margin: 0 auto;
        max-width: 1280px;
        display: grid;
        grid-template-columns: 8% 92%;
        grid-template-rows: 10% 90%;
        background-color: $back_main_color;
        border-radius: 14px;
        
        @media (max-width:768px) {
            display: block;
            border-radius: unset;
            padding-bottom: 20px;
        }
        

        &__menu {
            grid-area: span 2 / 1;
            padding: 46px 0;
            background-color: $menu_color;
            border: 1px solid $border_color;
            border-radius: 14px 0 0 14px;
            visibility: visible;

            @media (max-width: 768px) {
                border-radius: unset;
                display: flex;
                padding: 10px;
                margin: 0;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;                
                text-align: center;
                visibility: hidden;
                
            }

            &__logo {
                margin: 0 auto 150px;
                width: 44px;
                height: 35px;

                @media (max-width: 768px) {
                    margin: 0;
                    margin-left: 50px;
                }                
            }

            &__nav {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 142px;

                @media (max-width: 768px) {
                    margin-bottom: 0;
                    margin: 0 auto;
                }

                &__ul__li {
                    list-style-type: none;
                    position: relative;
                    transition: all .3s linear;

                    @media (max-width:768px) {
                        display: inline;
                        margin-right: 7px;
                    }
                    &:hover path{
                        fill: $color_main;
                        transition: all .3s linear;
                    }
                    &:hover::before {
                        transition: all .3s linear;
                        transform: scale(1);
                    }

                    &::before {
                        content: '';
                        display: inline-block;
                        background-image: url(../media/side-line.svg);
                        width: 3px;
                        height: 50px;
                        position: absolute;
                        top: -11px;
                        left: -37px;
                        transform: scale(0);
                        transition: all .3s linear;
                                             
                    }
                    
                    
                    &:not(:last-of-type) {
                        margin-bottom: 40px;
                    }
                }
            }
    

        }
    }
    
}



.wrapper-switch {
    margin: 0 auto;
    width: 60px;
    @media (max-width: 768px)
    {
        display: none;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;

        & input {
            display: none;
        }

        & input:checked +.slider {
            background-color: $color_main;
        }

        & input:focus + .slider {
            box-shadow: 0 0 1px $color_main;
        }
        input:checked + .slider:before {
  
            transform: translateX(26px);
        }

        .slider.round {
        border-radius: 34px;
        &::before{
            border-radius: 50%;
        }
        }

        & .slider{
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $color_secondary;
            transition: all .4s;

            &::before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: $color_main;
                box-shadow: inset #e9e9e9 0px 0px 0px 5px;
                transition: all .4s;
            }
        }
    }
}

.wrapper-main__container__header {
    
    display: flex;
    margin-left: 48px;
    margin-right: 50px;
    align-items: center;
    grid-area: 1 / 2;
    padding-right: 14px;
    padding-top: 43px;

    @media (max-width: 1024px) {
        margin-left: 15px;
        margin-right: 15px;
        flex-wrap: wrap;
        
    }

    &__h1 {
        margin-right: 45px;
        font-family: 'Gilroy Bold';
        color: $color_secondary;

        @media (max-width:768px) {
          width: 100%;  
          margin-right: 0;
        }
        
    }
    .wrapper-search {
        margin-right: 25px;
        @media (max-width: 768px) {
            width: 100%;
            margin-bottom: 7px;
            margin-right: 0;
            
        }

        & input {
            padding: 7px 30px 7px 30px;
            border-radius: 8px;
            border: 1px solid $search-border-color;
            background-color: $back_main_color;
            color: $color_secondary;
            
            transition: border .3s linear;
             @media (max-width: 768px) {
                width: 100%;
             }
            

            &:hover {
                border-color: $color_main;
                transition: all .3s linear;
            }

            &:focus-visible {
                outline: none;
                border-color: $color_main;
                color: $color_main;
            }
            
        }

        & svg {
        position: relative;
        left: 23px;
        @media (max-width: 768px) {
            left: 10px;
            top: 25px;

        }
      }

      
    }
    &__h2 {
        font-family: 'Gilroy Regular';
        color: $color_secondary;
        font-size: 20px;
        line-height: 24px;
        margin-right: 11px;
    }
    &__profile {
        width: 50px;
        height: 50px;
        margin-right: 9px;
        border-radius: 50%;
        border: 1px transparent;
        background-image: url(../media/profile.png);
        background-repeat: no-repeat;
        background-size: inherit;
        overflow: hidden;

        &:hover {
            cursor: pointer;
            
        }
    }
    .arrow {
        
        transition: all .3s linear;
        &:hover {
            transform: rotate(90deg);
            cursor: pointer;
            transition: all .3s linear;
            & path {
                fill: $color_main;
            }
        }
    }
    
}
.notification {
          width: 22px;
          height: 22px;
          margin-right: auto;

          &:hover svg path {
              fill: $color_main;
              cursor: pointer;
              transition: all .3s linear;
          }
          
          
        }


.wrapper-stats {
    margin: 44px 50px 47px 48px;
    display: grid;
    grid-template-rows: 20% 35% 35%;
    grid-row-gap: 32px;

    @media (max-width: 1024px) {
        margin: 44px 15px 47px 15px;
    }
    @media (max-width: 768px) {
            display: block;
        }

    &__friends {
        grid-row: 1 / 1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 32px;

        @media (max-width: 768px) {
            display: block;
        }

        &__item {
            border: 1px solid $border_color;
            background-color: $menu_color;
            border-radius: $radius-internal;
            padding: 24px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media (max-width: 768px) {
            margin-bottom: 7px;
        }
        
            &__head {
            display: flex;
            align-items: center;
            margin-bottom: 5px;

                &__points{
                    :hover {
                        cursor: pointer;

                        &svg path {
                            fill: $color_main;
                        }
                    }
                }

                &__h2 {
                margin-right: auto;
                font-family: 'Gilroy Bold';
                font-size: 20px;
                line-height: 24px;
                color: $color_secondary;
                }
            }

            &__foot {
                display: flex;
                align-items: center;

                &__text {
                    margin-right: auto;
                    font-family: 'Gilroy Usual';
                    font-size: 20px;
                    line-height: 24px;
                    color: $color_secondary;
                }

                &__percent {
                    font-family: 'Gilroy Usual';
                    font-size: 20px;
                    line-height: 24px;
                    color: #979797;
                    margin-right: 9px;

                }

                &__arrow {
                    display: flex;
                }
            }

        }
    }

    &__audience {
        display: grid;
        grid-template-columns: 70% 27%;
        grid-column-gap: 32px;
        @media (max-width: 1024px) {
            grid-template-columns: 60% 36%;
        }
        @media (max-width: 768px) {
            display: block;
            margin-bottom: 7px;
        }
        
        &__graph {
            border-radius: $radius-internal;
            border: 1px solid $border_color;
            background-color: $menu_color;
            padding: 24px 28px 22px 24px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media (max-width: 768px) {
                margin-bottom: 7px;
                
            }
            
            &__png img {
                    width: 100%;
                }

            &__head {
                display: flex;
                align-items: center;
                max-width: 650px;

                @media (max-width: 768px) {
                    flex-wrap: wrap;
                    margin-bottom: 7px;
                }

                input {
                    display: none;

                    &:checked + label::before {
                        content: '';
                        border-color: $color_main;
                        background-image: url(../media/checkmark.svg);
                        background-repeat: no-repeat;
                        background-size: inherit;
                        background-position: 50% 38%;
                        width: 15px;
                        height: 15px;
                        
                    }

                    
                }
                label {
                    font-family: 'Gilroy Regular';
                    font-size: 12px;
                    line-height: 14px;
                    color: $color_secondary;
                    position: relative;             
                    
                    @media (max-width: 380px) {
                    display: none;
                }

                    &:not(:last-of-type) {
                    margin-right: 33px;
                    }
                    &::before {
                        content: '';
                        display: inline-block;
                        width: 16px;
                        height: 16px;
                        border: 1.5px solid #E786D7;
                        border-radius: 5px;
                        position: absolute;
                        left: -25px;
                        top: -3px;
                                            

                        
                    }
                }


                &__h2 {
                    font-family: 'Gilroy Bold';
                    color: $color_secondary;
                    font-size: 20px;
                    line-height: 24px;
                    margin-right: auto;

                    @media (max-width: 768px) {
                        margin-right: 10px;
                        width: 100%;
                        margin-bottom: 7px;
                    }
                }

                &__text {
                    font-family: 'Gilroy Usual';
                    color: $color_secondary;
                    font-size: 12px;
                    line-height: 14px;
                    margin-right: 5px;

                    
                }

                .arrow {
                    margin-right: 60px;
                    display: flex;
                    transition: all .3s linear;

                    @media (max-width: 768px) {
                        margin-right: auto;
                    }
                    &:hover {
                        transform: rotate(90deg);
                        cursor: pointer;
                        transition: all .3s linear;
                    }
                }

                
            }
        }

        &__device {
            background-color: $menu_color;
            border: 1px solid $border_color;
            border-radius: $radius-internal;
            padding: 24px 10px 24px 24px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;


            &__text {
                font-family: 'Gilroy Regular';
                font-size: 12px;
                line-height: 14px;
                color: $color_secondary;

                p:not(:last-of-type) {
                    margin-bottom: 11px;
                }

                p::before {
                    content: '';
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    background-color: #E786D7;
                    border-radius: 5px;
                    position: relative;
                    top: 3px;
                    left: -10px;

                    
                }
                p:last-of-type::before {
                    background-color: $color_main;
                }
            }
            

            &__circle {
                margin-right: 5px;
                position: relative;

                &::before {
                    content: '86%';
                    display: inline;
                    color: #FFFFFF;
                    position: absolute;
                    top: 62px;
                    left: 21px;
                }
                

                &::after {
                    content: '';
                    display: block;
                    width: 61px;
                    height: 47px;
                    background-image: url(../media/triangle.svg);
                    background-repeat: no-repeat;
                    background-size: inherit;
                    z-index: 3;
                    position: absolute;
                    top: 7px;
                    left: 74px;
                }
                
            }
            

            &__h2 {
                font-family: 'Gilroy Bold';
                color: $color_secondary;
                font-size: 20px;
                line-height: 24px;
                width: 100%;
                margin-bottom: 30px;
            }
        }
    }
    &__gender {
        display: grid;
        grid-template-columns: 63% 34%;
        grid-column-gap: 31px;

        @media (max-width: 1024px) {
            grid-template-columns: 60% 36%;
        }
        @media (max-width: 768px) {
            display: block;
        }

        &__graph {
            border: 1px solid $border_color;
            background-color: $menu_color;
            border-radius: $radius-internal;
            padding: 23px 63px 5px 24px;
            display: flex;
            flex-wrap: wrap;

            @media (max-width: 768px) {
                margin-bottom: 7px;
            }

            &__img{
                padding-top: 38px;
                & img {
                    width: 100%;
                }

            } 

            &__text{
                display: flex;
                width: 100%;
                margin-bottom: auto;

                    p:last-of-type::before {
                        background-color: $color_main;
                    }

                & p {
                    font-family: 'Gilroy Regular';
                    font-size: 12px;
                    line-height: 14px;
                    color: $color_secondary;

                    &::before{
                    content: '';
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    background-color: #E786D7;
                    border-radius: 5px;
                    position: relative;
                    top: 3px;
                    left: -10px;
                    }

                    

                    &:not(:last-of-type) {
                        margin-right: 22px;
                    }
                }
                &__h2 {
                font-family: 'Gilroy Bold';
                font-size: 20px;
                line-height: 24px;
                color: $color_secondary;
                margin-right: auto;
                }
            }

            
            
                    
        }

        &__geo {
            border: 1px solid $border_color;
            background-color: $menu_color;
            border-radius: $radius-internal;
            padding: 23px 25px 30px 24px;

            @media (max-width: 1024px) {
                        padding: 23px 15px;
                }
            

            &__text {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                
                & a {
                    font-family: 'Gilroy Usual';
                    font-size: 12px;
                    line-height: 14px;
                    text-decoration: none;
                    color: #979797;
                    transition: all .3s linear;
                    &:hover {
                        color: $color_secondary;
                        transition: all .3s linear;
                    }
                    &:not(:last-of-type) {
                        margin-right: 10px;
                    }
                }

                &__h2 {
                font-family: 'Gilroy Bold';
                color: $color_secondary;
                font-size: 20px;
                line-height: 24px;
                margin-right: auto;
                }

            }

            &__bar{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                
            &__countries {
                max-width: calc(100%/2);
                margin-bottom: 14px;
                
                
                &__head {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 5px;
                    &__h2 {
                        font-family: 'Gilroy Usual';
                        font-size: 12px;
                        line-height: 14px;
                        color: $color_secondary;
                        margin-right: auto;
                    }
                    &__p {
                        font-family: 'Gilroy Usual';
                        font-size: 12px;
                        line-height: 14px;
                        color: #979797;
                    }
                }
            }

            }

        }

    }
}